.activitySection, .membersSection{
    background-color: ghostwhite;
    h3{
        padding-left: 2%;
    }
}
.membersSection{
    height: 500px; 
    
    @media (min-width: 768px){
        height: fit-content; 
    }
    @media (min-width: 1024px){
        display: grid; /* Display activityCard items in a grid */
        grid-template-columns: 1fr; /* Two equal-sized columns */
        gap: 10px; /* Gap between grid items */    
        border-right: $border;
        border-bottom: $border;
        padding-right: 1%;
    }

 }
.memberCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    border-bottom: $border;

    @media (min-width: 768px)
        {
        flex-direction: row;
        margin-right: 0;
        height: 30%;
        padding-bottom: 3%;

        img{
            padding-right: 2%;
            }
        }
            
            & > p{
                @media (min-width: 768px)
                {
                    margin-left: auto;
                }
            }
            @media (min-width: 1024px){
                 height: 9.5rem;
            }
}
.activitySection{
    height: fit-content;

    @media (min-width: 1024px){
        display: grid; /* Display activityCard items in a grid */
        grid-template-columns: 1fr; /* Two equal-sized columns */
        gap: 10px; /* Gap between grid items */   
        border-bottom: $border; 
    }
}
.activityCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    border-bottom: $border;

    @media (min-width: 768px){
        flex-direction: row;
        width: auto;
        padding-bottom: 2%;
    }
        @media (min-width: 1024px){
            height: 9.5rem;
    }
    .memberText{
        @media (min-width: 1024px){
            width: 300px;
        }
    }
}

    img, .memberText p, .memberText span{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 0 2%;
        
        @media (min-width: 768px) {
            display: block;
        }
        @media (min-width: 1024px){
            padding-right: 0;
        } 
    }
    img{
        border-radius: 50%;
    }

.memberText span{
    font-weight: bold;
}
.memberText{
    @media (min-width: 768px){
        margin-left: 4%;
    }

}

