.socialSection{
  border-bottom: $border;
  padding-left: 1%;

  .cardWrapper{
    @media (min-width: 768px) {
      display: flex;
   }
  }
  
}
.cardContainer {
    display: flex;
    align-items: center;
    background-color:  $main-color-3;
    padding: 1rem 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
      @media (min-width: 768px) {
        width: 32%;
      }
}
.socialImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  border-radius: 100%;
  width: 77px;
  height: 78px;

  @media (min-width: 768px){
    width: 70px;
    height: 68px;
  }
}
  
.socialText {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}  
.socialName{
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 1.1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #7477bf;
}
.socialDescription{
    text-transform: capitalize;
    margin-top: 0;
    margin-left: 1.1rem;
    font-size: 2.1rem;
    font-weight: lighter;
    color: rgb(58, 57, 57);
}



  