.gridContainer{
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
}
canvas{
    max-width: 100%;
}
.header {
grid-area: header;
}
.trafficNav {
grid-area: nav;
}
.main {
grid-area: main;
}
.main{
    display: grid;
}


                                // Media Queries


@media (min-width: 768px) {
    .gridContainer {
        grid-template-columns: 75px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }
    .main{
        grid-template-columns: 50% ;
    }
    .trafficLineSection, .socialSection, .alert, .mainHeader {
        grid-column: 1 / span 2;
    }
    .barSection, .doughnutSection, .messageSection {
        grid-column: 1 / span 1;
    }
    .doughnutSection, .settingsSection {
        grid-column: 2 / span 1;
    }
    .barSection{
        border-right: $border;
    }
    .doughnutSection{
        padding-left: 3%;
    }
    main{
        margin-left: 1%;
    }
    .activitySection, .membersSection, .messageSection, .settingsSection{ 
        grid-column: 1 / span 2;      
    }    
}
@media (min-width: 1024px){
    .activitySection, .membersSection, .settingsSection, .messageSection{
        grid-column: initial; 
    }    
}



   