.trafficLineSection{
    border-bottom: $border;
}
.trafficNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    li{
        list-style: none;
        font-weight: bold;
    }
}