.gridContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main";
}
canvas{
    max-width: 100%;
}
.header {
grid-area: header;
}
.trafficNav {
grid-area: nav;
}
.main {
grid-area: main;
}
.main {
    display: grid;
}


                                // Media Queries


@media (min-width: 768px) {
    .grid-container {
    grid-template-columns: 100% 1fr;
    grid-template-areas:
    "header header"
    "nav main";
    }
    .main {
        grid-template-columns: 50% ;
    }
    .trafficLineSection, .socialSection, .mainheader {
        grid-column: 1 / span 2;
    }
    .barSection, .doughnutSection, .membersSection, .messageSection {
        grid-column: 1 / span 1;
    }
    .doughnutSection, .activitySection, .settingsSection {
        grid-column: 2 / span 1;
    }
    .barSection{
        border-right: $border;
    }
    .doughnutSection{
        padding-left: 3%;
    }.socialSection{
        display: flex;
    }
    nav{
        position: absolute;
        top: 22%; 
        left: 8px;
        width: 75px;
        display: flex;
    } 
    main{
        margin-left: 7%;
        margin-right: 2%;
    }
    .activitySection, .membersSection{
        border-left: $border;
        padding-left: 3%;
        height: 225vh;

    }
    .memberCard{
        min-height: 20%;
        max-height: 21%;
    }
  
}





   